.productDiv {
  background-color: #231c2c;
  border-radius: 13px;
  font-family: CodecPro;
}

.productButt {
  text-decoration: none;
  font-family: CodecPro;
  display: inline-block;
  background-image: linear-gradient(to right, #9340ff, #ff3c5f);
  border-radius: 15px;
  text-align: center;
  padding: 0.4rem 2rem;
  color: #0f1819;
}

.productImage {
  border-radius: 25px;
  margin-top: 5px;
}

.cdText {
  color: #fff;
}
