.cardSec {
  background-color: #101728;
  height: 100vh;
  max-height: 1080px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.headersStyling {
  font-family: CodecPro;
  color: #fff;
}

.wizText {
  color: #9340ff;
}

.imgCard {
  transform: translateY(-50%);
}

.h3Card {
  font-size: 4rem;
  padding-bottom: 7.5%;
  font-family: CodecPro;
}

.pCard {
  font-size: 1.25rem;
  color: #fff;
  font-family: CodecPro;
}

.cardImage {
  border-radius: 15px;
}

@media (max-width: 768px) {
  .h3Card {
    font-size: 2rem;
    padding-bottom: 0;
  }
  .pCard {
    font-size: 0.9rem;
  }
}
